<div class="product-form-page">
    <p *ngIf="message" class="message">{{message}}</p>
    <h1>{{isEditing? 'Edit Product' : 'Add Product'}}</h1>
    <form (submit)="handleSubmit($event)">
        <div class="form-group">
            <label for="">Nombre Producto</label>
            <input type="text" [(ngModel)]="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="">Sku</label>
            <input type="text" [(ngModel)]="sku" name="sku" required>
        </div>

        <div class="form-group">
            <label for="">Cantidad disponible</label>
            <input type="number" [(ngModel)]="stockQuantity" name="stockQuantity" required>
        </div>

        <div class="form-group">
            <label for="">Precio</label>
            <input type="number" [(ngModel)]="price" name="price" required>
        </div>


        <div class="form-group">
            <label for="">Descripción</label>
            <textarea [(ngModel)]="description" name="description" required></textarea>
        </div>


        <div class="form-group">
            <label>Categoría</label>
            <select [(ngModel)]="idCategory" name="idCategory" required>
                <option [ngValue]="0" disabled>Selecciona la categoría</option> <!-- Usa 0 como valor inicial -->
                <option *ngFor="let category of categories" [ngValue]="category.idCategory">
                    {{ category.name }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Imagen del producto</label>
            <input type="file" (change)="handleImageChange($event)">
            <div *ngIf="imageUrl">
                <img [src]="imageUrl" alt="preview" class="image-preview">
            </div>
        </div>

        <button type="submit">{{isEditing? 'Edit Product' : 'Add Product'}}</button>
    </form>

</div>